<app-breadcomb [list]="[mapPage?.mapPageName!,mapCanvas?.mapName!]"></app-breadcomb>


<div class="flex flex-col m-4 {{isEmpty ? 'hidden' : ''}} gap-4">
  <div>{{"page-text.rclick-instruction" | translate}}</div>

  <div id="map" class="h-[80vh]"></div>
  <p-button class="self-center" (click)="onImageSelected()"
            [title]="'button.change-map' | translate"></p-button>
</div>

@if (showContextMenu) {
  <div
    class="fixed w-[200px] z-[1000] bg-stone-50 border rounded shadow"
    [ngStyle]="{ top: contextMenuPosition.y + 'px', left: contextMenuPosition.x + 'px' }"
  >
    <div class="">
      <button class="block w-full bg-green-400 hover:bg-gray-200 text-black px-2 py-1 z-50"
              (click)="showPinMenu = !showPinMenu"
              [ngStyle]="{ 'padding-right': '2.5rem' }">
        <div class="w-full bg-red-500 flex flex-row justify-between">
          <span>{{"menu-options.add-pin" | translate}}</span>
          <svg-icon src="icons/keyboard_arrow_{{showPinMenu?'down':'right'}}.svg"></svg-icon>
        </div>
      </button>
      <div class="w-fit border-b border-gray-500 {{showPinMenu?'flex flex-col':'hidden'}}"
           [ngStyle]="{ 'min-width': '100%' }">
        <button class="block pl-4 w-full hover:bg-gray-200 text-left text-black  px-2 py-1 z-50" (click)="closeMenu()"><svg-icon svgClass="" src="icons/red-pin.svg"></svg-icon></button>
         <button class="block pl-4 w-full text-left hover:bg-gray-200 text-black  px-2 py-1 z-50" (click)="closeMenu()"><svg-icon svgClass="" src="icons/blue-pin.svg"></svg-icon></button>
       <!-- vocé pode adicionar mais opções -->
      </div>
    </div>
<!--    <button class="block w-full text-left text-black  px-2 py-1 z-50" (click)="addPin()">{{"map-canvas.map.map-menu.add-pin" | translate}}</button>-->
    <button class="block w-full hover:bg-gray-200 text-left text-black  px-2 py-1 z-50" (click)="closeMenu()">{{"menu-options.close" | translate}}</button>
    <!-- você pode adicionar mais opções -->
  </div>
}

<div class="{{isEmpty?'':'hidden'}}">
  <div class="flex flex-col items-center justify-center h-[80vh]">
    <h2 class="m-4 p-2 font-bold">{{ "map-canvas.no-map.title" | translate }}</h2>
    <p class="m-2">{{ "map-canvas.no-map.description" | translate }}</p>
    <p-button (click)="onImageSelected()" [title]="'map-canvas.no-map.insert-button' | translate"></p-button>
  </div>
</div>
<!--<div class="controls">-->
<!--  <button (click)="setIconStyle('red')">-->
<!--    <svg-icon svgClass="" src="icons/red-pin.svg"></svg-icon>-->
<!--  </button>-->
<!--  <button (click)="setIconStyle('blue')">-->
<!--    <svg-icon svgClass="" src="icons/blue-pin.svg"></svg-icon>-->
<!--  </button>-->
<!--  <button (click)="clearPins()">Clear Pins</button>-->
<!--</div>-->
