<div class="flex flex-row justify-between gap-1 group cursor-pointer"
     [title]="note?.noteTitle"
     (click)="selectNote.emit(note!)">
  <p
    class="truncate text-clip overflow-none"
    id="note-{{note?.noteId}}"
    title="{{note?.noteTitle}}"
  >{{ note?.noteTitle }}</p>
  <svg-icon
    src="icons/more_horiz.svg"
    svgClass="fill-current hidden group-hover:flex cursor-pointer"
    svgAriaLabel="Page options button."
    title="{{'hover.options' | translate}}"
    [matMenuTriggerFor]="noteContext!"
  ></svg-icon>
</div>
