<div class="flex flex-col items-center w-full h-full p-4 overflow-y-auto">
  <div class="flex flex-col w-full md:w-3/4 justify-center items-center rounded-md">
    <h1 class="text-3xl font-bold m-2">{{ "create-campaign.title" | translate }}</h1>
    <form class="flex flex-col w-full p-4 gap-4" [formGroup]="campaignForm" (ngSubmit)="createCampaign()">
      <div class="flex flex-col">
        <label for="name">{{ "create-campaign.name" | translate }}</label>
        <input class="p-2 border border-gray-300 rounded-md" type="text" id="name" formControlName="campaignName">
      </div>
      <div class="flex flex-col">
        <label for="description">{{ "create-campaign.description" | translate }}</label>
        <textarea
          class="w-full h-32 p-2 border border-gray-300 rounded-md resize-none  after:whitespace-pre-wrap"
          type="text"
          id="description"
          formControlName="campaignDescription"
          placeholder="Campaign description "
        >

        </textarea>
      </div>
      <div class="flex flex-col">
        <label for="system">{{ "create-campaign.system" | translate }}</label>
        <select id="system" class="border border-gray-300 rounded-md p-1 dark:bg-white dark:text-black"
                formControlName="campaignSystemName">
          <option value="">-- {{ "create-campaign.select-system" | translate }} --</option>
          <option value="Dungeons and Dragons 3.5">Dungeons and Dragons 3.5</option>
          <option value="Delta Green">Delta Green</option>
          <option value="Dungeons and Dragons 5e">Dungeons and Dragon 5e</option>
          <option value="Call of Cthulhu">Call of Cthulhu</option>
          <option value="Pathfinder 2e">Pathfinder 2e</option>
          <option value="Pathfinder 1e">Pathfinder 1e</option>
          <option value="Starfinder">Starfinder</option>
          <option value="custom">CUSTOM</option>
        </select>
      </div>
      @if (campaignForm.get('campaignSystemName')!.value === 'custom') {
        <div class="flex flex-col">
          <label for="customSystem">{{ "create-campaign.custom-system" | translate }}</label>
          <input class="p-2 border border-gray-300 rounded-md" type="text" id="customSystem"
                 formControlName="campaignCustomSystemName">
        </div>

      }
      <div class="flex flex-col mb-4">
        <label for="image">{{ "create-campaign.image" | translate }}</label>
        <input class="p-2 border border-gray-300 rounded-md" type="text" id="image" formControlName="campaignImageUrl">
        <img src="{{campaignForm.get(['campaignImageUrl'])?.value}}">
      </div>
      <div class="flex flex-row mb-4 gap-4">
        <input class="scale-150" type="checkbox" id="favorite" formControlName="active">
        <label for="favorite" class="group relative inline-block">{{ "create-campaign.active" | translate }}</label>
      </div>

      <p-button class="my-4 self-center" type="submit"
                title="{{ 'create-campaign.create-button' | translate}}"></p-button>
    </form>
  </div>

</div>
