<mat-dialog-content class="flex flex-col p-2">
  <h1 class="mb-4">{{ "components.insertion-modal.title" | translate }}</h1>
  <div class="flex flex-col gap-4">
    <label>
      {{ "components.insertion-modal.url-label" | translate }}
      <input
        class="block w-full text-sm p-1 outline-none border rounded-md"
        [(ngModel)]="url"
        placeholder="URL"
      />
    </label>

    <button
      (click)="selectFile()"
      class="m-1 p-1 px-3 rounded-full bg-slate-300 dark:bg-slate-600 hover:bg-slate-200  dark:hover:bg-slate-800"
    >Imagems</button>

    <label for="file">
      {{ "components.insertion-modal.file-label" | translate }}
      <input
        class="block w-full text-sm outline-none active:outline-none  rounded-md
        file:border file:p-1 file:rounded-md file:bg-slate-300 dark:file:bg-slate-600
        hover:file:bg-slate-200 dark:hover:file:bg-slate-800
          file:text-black dark:file:text-white"
        type="file" id="file" accept="image/*" (change)="onFileSelected($event)"/>
    </label>
  </div>
</mat-dialog-content>
<mat-dialog-actions>

  <button
    (click)="onNoClick()"
    class="m-1 p-1 px-3 rounded-full bg-slate-300 dark:bg-slate-600 hover:bg-slate-200  dark:hover:bg-slate-800"
  >
    {{ "components.insertion-modal.cancelButton" | translate }}
  </button>
  <button
    [mat-dialog-close]="url()"
    class="m-1 p-1 px-3 rounded-full bg-slate-300 dark:bg-slate-600 hover:bg-slate-200  dark:hover:bg-slate-800"
  >
    {{ "components.insertion-modal.okButton" | translate }}
  </button>
</mat-dialog-actions>
