<div class="flex flex-col">
  <div
    class="flex flex-row items-center justify-between rounded-xl text-black bg-[#F3F6F8] hover:bg-gray-200 dark:text-white dark:bg-stone-600! dark:hover:stone-700 transition-all duration-300 p-2 my-2">
    <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="pagesHidden = !pagesHidden">
      <svg-icon svgClass="fill-current" src="icons/sticky_note_2.svg"></svg-icon>
      <p>{{ "nav.page-nav.title" | translate }}</p>
    </div>
    <div class="flex items-center cursor-pointer {{pagesHidden?'hidden':''}}">
      <svg-icon src="icons/add.svg" svgAriaLabel="Create new note" svgClass="fill-current select-none w-fit h-fit hover:cursor-pointer hover:scale-105 transition-all ease-in duration-150 active:scale-95"
                (click)="addPage()"></svg-icon>
    </div>
  </div>
  <!-- Page Render -->
  <ul class="flex flex-col pl-5 truncate {{ pagesHidden?'hidden ':''}}">
    @for (page of pages; track page) {
      <li>
        <div
          class="flex flex-row gap-1 rounded-xl group text-black p-1 my-2  transition-all duration-300"
          title="{{ page.pageTitle }}"
          [ngStyle]="{ 'background-color': page.pageColor }"
          id="page-color-{{page.pageId}}"
        >
          <svg-icon src="icons/{{
              page.pageActive
                ? 'keyboard_arrow_down'
          : 'keyboard_arrow_right'
          }}.svg" (click)="togglePage(page)"></svg-icon>
          <p
            [title]="page.pageTitle"
            class="truncate text-clip overflow-none justify-start self-start start-0 justify-self-start"
            id="page-{{ page.pageId }}"
          >{{ page.pageTitle }}</p>
          <svg-icon
            src="icons/more_horiz.svg"
            svgClass="hidden group-hover:flex cursor-pointer select-none"
            svgAriaLabel="Page options button."
            [matMenuTriggerFor]="pageMenu"
          ></svg-icon>
        </div>
        <mat-menu #pageMenu="matMenu" class="bg-white">
          <button mat-menu-item (click)="addNote(page.pageId)" [ngStyle]="{ 'color': 'black' }">{{'nav.page-nav.page-menu.add-note' | translate}}</button>
          <button mat-menu-item [matMenuTriggerFor]="colors" [ngStyle]="{ 'color': 'black', 'caret-color': 'black' }">{{'nav.page-nav.page-menu.change-color' | translate}}</button>
          <button mat-menu-item (click)="togglePageEditable(page)" [ngStyle]="{ 'color': 'black' }">{{'nav.page-nav.page-menu.rename' | translate}}</button>
          <button mat-menu-item (click)="deletePage(page.pageId)" [ngStyle]="{ 'color': '#9f0712' }">{{'nav.page-nav.page-menu.delete' | translate}}</button>
        </mat-menu>
        <mat-menu #colors>
          <div class="grid grid-cols-6 gap-1 p-1">
            @for (color of pageColors; track color) {
              <div
                [ngStyle]="{ 'background-color': color }"
                class="h-7 w-7 rounded-xl hover:p-2 border border-gray-500 hover:border-2 transition-all duration-150 ease-in col-span-1 row-span-1 md:col-span-1 md:row-span-1 lg:col-span-2 lg:row-span-2 xl:col-span-3 xl:row-span-3"
                (click)="changeColor(page, color)"></div>
            }
          </div>
        </mat-menu>
        <!--Notes Renderer-->
        <div class="ml-4 truncate {{page.pageActive?'':'hidden'}}">
          <app-note-nav [page]="page" [campaign]="campaign"/>
        </div>
      </li>
    }
  </ul>
</div>
