<div class="flex flex-col">
  <div
    class="flex flex-row items-center justify-between rounded-xl bg-[#F3F6F8] hover:bg-gray-200 transition-all duration-300 p-2 my-2">
    <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="pagesHidden = !pagesHidden">
      <span class="material-symbols-outlined sm">sticky_note_2</span>
      <p>Notes</p>
    </div>
    <div class="flex items-center cursor-pointer {{pagesHidden?'hidden':''}}">
      <img src="icons/add.svg" alt="Create new note" class="w-fit h-fit hover:cursor-pointer"
           (click)="addPage()"/>
    </div>
  </div>
  <!-- Page Render -->
  <ul class="flex flex-col pl-5 truncate {{ pagesHidden?'hidden ':''}}">
    @for (page of pages; track page) {
      <li>
        <div
          class="flex flex-row gap-1 rounded-xl group border border-gray-300 p-1 my-2  transition-all duration-300"
          title="{{ page.pageTitle }}"
          [ngStyle]="{ 'background-color': page.pageColor }"
          id="page-color-{{page.pageId}}"
        >
          <span class="material-icons cursor-pointer select-none" (click)="page.pageActive = !page.pageActive">{{
              page.pageActive
                ? "keyboard_arrow_down"
                : "keyboard_arrow_right"
            }}</span>
          <p
            [title]="page.pageTitle"
            class="truncate text-clip overflow-none justify-start self-start start-0 justify-self-start"
            id="page-{{ page.pageId }}"
          >{{ page.pageTitle }}</p>
          <img
            src="icons/more_horiz.svg"
            class="hidden group-hover:flex cursor-pointer"
            alt="Page options button."
            [matMenuTriggerFor]="pageMenu"
          >
        </div>
        <mat-menu #pageMenu="matMenu" class="bg-white">
          <button mat-menu-item (click)="addNote(page.pageId)">Nova Nota</button>
          <button mat-menu-item [matMenuTriggerFor]="colors">Cor</button>
          <button mat-menu-item (click)="togglePageEditable(page)">Renomear</button>
          <button mat-menu-item (click)="deletePage(page.pageId)" [ngStyle]="{ 'color': '#9f0712' }">Excluir</button>
        </mat-menu>
        <mat-menu #colors >
          <div class="flex flex-col w-full">
            @for(color of pageColors;track color){
              <button class="bg-[{{color}}] {{page.pageColor==color?'border-2 border-black':'border-1 border-gray-400'}} w-full h-7 rounded-xl hover:p-2 border hover:border-2 transition-all duration-150 ease-out" (click)="changeColor(page, color)"></button>

            }
          </div>
        </mat-menu>
        <!--Notes Renderer-->
        <div class="ml-4 truncate {{page.pageActive?'':'hidden'}}">
          <app-note-nav [page]="page" [campaign]="campaign"/>
        </div>
      </li>
    }
  </ul>
</div>
