<div class="flex flex-row h-full min-w-fit w-full select-none">
  <div class="flex flex-col justify-between h-full min-w-14 max-w-24 border-r border-[#E1E1E1] z-[1000]">
    <div class="flex flex-col ">
      <div class="flex flex-col items-center border-b border-b-gray-300 pb-2">
        <!-- Menu list navigation -->
        <div class="flex flex-col w-full items-center gap-4 mt-4">
          @for (item of navList; track item) {
            <div
              class="flex flex-col cursor-pointer image-gray-400 transition-all ease-in duration-300 justify-center items-center gap-1 text-center"
              routerLink="/{{ item.route }}"
              routerLinkActive="image-black"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <img src="icons/{{item.icon}}.svg" class="" alt="">
              <p class="flex flex-col text-wrap text-sm" i18n>{{ item.name }}</p>
            </div>
          }
        </div>
      </div>
      <!-- Last updated campaigns -->
      <ul class="flex flex-col items-center gap-4 justify-items-center mb-2 pt-2">
        @for (item of campaigns; track item) {
          @if (item.active) {
            <div
              routerLink="/campaign/{{ item.campaignId }}"
              routerLinkActive="shadow-lg rounded-lg bg-gray-50"
              class="flex min-w-10 mx-5 p-2 self-center transition-all ease-in duration-300 cursor-pointer select-none"
              title="{{ item.campaignName }}"
            >
              <img
                class="self-center rounded-md"
                src="{{ item.campaignImageUrl }}"
                alt=""
              />
            </div>
          }
        }
        <img
          src="icons/add.svg"
          title="Create New Campaign"
          class="m-2 image-gray-400 scale-125 hover:scale-150 text-gray-400 lg transition-all ease-in duration-300 cursor-pointer"
          alt=""
          routerLink="/new-campaign"
        >
      </ul>
    </div>
    <div class="flex flex-col items-center py-2 gap-4 pt-2 border-t border-t-gray-300">
      <div class="image-gray-400 hover:scale-110 transition-all duration-300 cursor-pointer"
           routerLink="/settings"
           routerLinkActive="image-black">
        <img src="icons/settings.svg" alt="">
      </div>
      <div class="hover:scale-110 image-red-500 transition-all duration-300 cursor-pointer"
           routerLink="/"
           routerLinkActive="">
        <img src="icons/home.svg" alt="">
      </div>
    </div>
  </div>
  <div class="h-full w-full">
    <router-outlet></router-outlet>
  </div>
</div>
