<div class="flex flex-row h-full min-w-fit w-full">
  <div
    class="flex flex-col justify-between h-full min-w-14 max-w-24 border-r border-[#E1E1E1] dark:border-stone-900 z-[1000]">
    <div class="flex flex-col">
      <div class="flex flex-col items-center border-b border-b-gray-300 dark:border-stone-900 pb-2">
        <!-- Menu list navigation -->
        <div class="flex flex-col w-full items-center gap-4 mt-4 select-none">
          @for (item of superiorNavList; track item) {
            <app-nav-main-menu-item
              [item]="item"
              routerLink="/{{ item.route }}"
              routerLinkActive="dark:text-ambar-100 text-amber-900 text-2xl"
              [routerLinkActiveOptions]="{ exact: true }"
            ></app-nav-main-menu-item>
          }
        </div>
      </div>
      <!-- Last updated campaigns -->
      <ul class="flex flex-col items-center gap-4 justify-items-center mb-2 pt-2">
        @for (item of campaigns; track item.campaignId) {
          @if (item.active) {
            <app-nav-campaign-item [item]="item"></app-nav-campaign-item>
          }
        }
        <svg-icon
          src="icons/add.svg"
          title="Create New Campaign"
          svgClass="fill-current hover:fill-slate-600 dark:hover:fill-slate-300 group-hover:fill-slate-600 dark:group-hover:fill-slate-300 select-none m-2 scale-125 hover:scale-150  lg transition-all ease-in duration-300 cursor-pointer"
          routerLink="/new-campaign"
        ></svg-icon>
      </ul>
    </div>
    <div class="flex flex-col items-center py-2 gap-4 pt-2 border-t border-t-gray-300 dark:border-t-stone-900">
      @for (item of bottomNavList; track item) {
        <app-nav-main-menu-item
          routerLink="/{{ item.route }}"
          routerLinkActive="dark:text-ambar-100 text-amber-900 text-2xl"
          [routerLinkActiveOptions]="{ exact: true }"
          [item]="item"
        ></app-nav-main-menu-item>
      }
    </div>
  </div>
  <div class="h-full w-full">
    <router-outlet></router-outlet>
  </div>
</div>
