<div class="flex flex-col h-full  w-full p-4">
  <div class="flex flex-col self-center rounded-xl p-4">
    <img class="max-w-[250px]" src="logo.png" alt="Logo Game Master Tools" title="Game Master Tools">
    <div class="flex flex-col m-10 gap-5">
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <p class="font-bold ">{{ "label.recent-campaigns" | translate }}</p>
        </div>
        <div class="text-gray-400 font-bold ml-4">
          @for (item of campaignList; track item.campaignId; ) {
            <p
              class="underline my-2 cursor-pointer hover:text-black transition-all duration-300 truncate"
              routerLink="campaign/{{item.campaignId}}"
              title="{{item.campaignName}}"
            >{{ item.campaignName }}</p>
          }
        </div>
      </div>
      <div
        routerLink="new-campaign"
        class="flex flex-col justify-center w-fit items-center self-center my-4 group cursor-pointer group">
        <div
          class="flex flex-row items-center rounded-lg border-2 border-[#3D2C12] dark:border-white border-dashed p-4 group-hover:scale-110  transition-all duration-300">
          <svg-icon src="icons/add.svg" class="scale-200" svgClass="fill-[#3D2C12] dark:fill-white "></svg-icon>
        </div>
        <p
          class="text-[#3D2C12] dark:text-white group-hover:pt-2 transition-all duration-300">{{ "button.create-campaign" | translate }}</p>
      </div>
    </div>
  </div>
</div>
