<div class="flex flex-col h-full  w-full p-4">
  <div class="flex flex-col self-center rounded-xl p-4">
    <img class="max-w-[250px]" src="logo.png" alt="Logo Game Master Tools">
    <div class="flex flex-col">
      <div class="flex flex-row items-center">


        <p class="font-bold text-[#3D2C12]">{{ "home.recentCampaigns" | translate }}</p>
        <p class="font-bold text-[#3D2C12] ml-4"> <span class="cursor-pointer" (click)="changeLanguage('en')">enUS</span>/<span class="cursor-pointer" (click)="changeLanguage('pt')">ptBR</span></p>
      </div>
      <div class="text-gray-400 font-bold ml-4">
        @for (item of campaignList; track item; ) {
          <p
            class="underline my-2 cursor-pointer hover:text-black transition-all duration-300 truncate"
            routerLink="campaign/{{item.campaignId}}"
            title="{{item.campaignName}}"
          >{{ item.campaignName }}</p>
        }
      </div>
      <div
        routerLink="new-campaign"
        class="flex flex-col justify-center w-fit items-center self-center my-4 group transition-all duration-500 cursor-pointer hover:scale-110">
        <div class="flex flex-row items-center rounded-lg border-2 border-[#3D2C12] border-dashed p-4">
          <svg-icon src="icons/add.svg" class="scale-200" [svgStyle]="{fill: '#3D2C12'}"></svg-icon>
        </div>
        <p class="text-[#3D2C12]">{{ "home.createCampaign" | translate }}</p>
      </div>
    </div>
  </div>
</div>
