<div class="flex flex-row w-full h-full">
  <div class="flex flex-col h-full min-w-56 w-64 p-2 border-r border-gray-200">
    <!-- Campaign title + description + campaign config menu -->
    <div class="mb-4">
      <div class="flex flex-row items-center ">
        <h1 class="line-clamp-2" [title]="campaign.campaignName">{{ campaign.campaignName }}</h1>
        <span class="material-icons cursor-pointer select-none" [matMenuTriggerFor]="menu">keyboard_arrow_down</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Rename</button>
          <button mat-menu-item>Settings</button>
          <divider></divider>
          <button mat-menu-item>Archive</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
      <p
        class="{{hiddenDescription?'cursor-pointer':'cursor-pointer line-clamp-2 hover:underline'}} text-sm text-gray-400"
        (click)="hiddenDescription = !hiddenDescription"
      >
        {{ campaign.campaignDescription }}
      </p>
    </div>
    <!-- Campaign menus -->
    <div class="flex flex-col gap-2">
      <!-- Notes -->
      <div class="flex flex-col">
        <div
          class="flex flex-row items-center justify-between rounded-xl bg-gray-100 hover:bg-gray-200 transition-all duration-300 p-2 my-2">
          <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="pagesHidden = !pagesHidden">
            <span class="material-symbols-outlined sm">sticky_note_2</span>
            <p>Notes</p>
          </div>
          <div class="flex items-center cursor-pointer {{pagesHidden?'hidden':''}}">
            <img src="icons/add.svg" alt="Create new note" class="w-fit h-fit hover:cursor-pointer" (click)="addPage()" />
          </div>
        </div>
        <!-- Page Render -->
        <ul class="flex flex-col pl-5 truncate {{ pagesHidden?'hidden ':''}}">
          @for (page of pages; track page) {
            <li>
              <div
                class="flex flex-row items-center justify-between border border-transparent border-b-gray-300 p-1 my-2 hover:border-gray-300 hover:rounded-xl transition-all duration-300"
                title="{{ page.pageTitle }}"
              >
                <div class="flex flex-row gap-1">
                  <img
                    src="icons/add.svg" alt="Adding new note"
                    (click)="addNote(page.pageId)"
                    class="w-fit h-fit hover:cursor-pointer"
                  />

                  <p>{{ page.pageTitle }}</p>
                </div>
                <span class="material-icons cursor-pointer select-none" (click)="page.pageActive = !page.pageActive">{{
                    page.pageActive
                      ? "keyboard_arrow_down"
                      : "keyboard_arrow_right"
                  }}</span>
              </div>
              <div class="ml-4 truncate {{page.pageActive?'':'hidden'}}">
                @for (notes of page.pageNotes; track notes) {
                  <div (click)="goToNote(page.pageId, notes.noteId)"
                       class="flex flex-row justify-between items-center border border-transparent border-r-gray-300 hover:hover:border-l-transparent hover:border-b-gray-500 hover:border-r-gray-500 transition-all duration-300">
                    <img
                      src="icons/settings.svg"
                      alt="Note config"
                      class="p-2 w-fit h-fit image-gray-400 hover:image-black hover:cursor-pointer"
                      [matMenuTriggerFor]="noteMenu"
                    />
                    <mat-menu #noteMenu="matMenu">
                      <button mat-menu-item (click)="toggleEditable(notes.noteId)">Rename</button>
                      <button mat-menu-item (click)="deleteNote(notes.noteId, page.pageId)">Delete</button>
                    </mat-menu>
                    <div
                      class="my-1 truncate cursor-pointer select-none text-end px-2 mr-2 "
                      id="note-{{notes.noteId}}"
                      title="{{notes.noteTitle}}"
                    >
                      {{ notes.noteTitle }}
                    </div>
                  </div>
                }
              </div>
            </li>
          }
        </ul>
      </div>

      <!-- Maps -->
      <div class="flex flex-col">
        <div
          class="flex flex-row items-center justify-between rounded-xl bg-gray-100 hover:bg-gray-200 transition-all duration-300 p-2 my-2">
          <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="mapsHidden = !mapsHidden">
            <span class="material-symbols-outlined sm">map</span>
            <p>Maps</p>
          </div>
          <div class="flex items-center cursor-pointer {{mapsHidden?'hidden':''}}">
            <span class="material-icons">add</span>
          </div>
        </div>
      </div>

      <!-- Items -->
      <div class="flex flex-col">
        <div
          class="flex flex-row items-center justify-between rounded-xl bg-gray-100 hover:bg-gray-200 transition-all duration-300 p-2 my-2">
          <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="itemsHidden = !itemsHidden">
            <span class="material-symbols-outlined sm">sword_rose</span>
            <p>Itens</p>
          </div>
          <div class="flex items-center cursor-pointer {{itemsHidden?'hidden':''}}">
            <span class="material-icons">add</span>
          </div>
        </div>
      </div>

      <!-- Creatures -->
      <div class="flex flex-col">
        <div
          class="flex flex-row items-center justify-between rounded-xl bg-gray-100 hover:bg-gray-200 transition-all duration-300 p-2 my-2">
          <div class="flex flex-row items-center gap-1 cursor-pointer" (click)="creaturesHidden = !creaturesHidden">
            <span class="material-symbols-outlined sm">sports_martial_arts</span>
            <p>Creatures</p>
          </div>
          <div class="flex items-center cursor-pointer {{creaturesHidden?'hidden':''}}">
            <span class="material-symbols-outlined">add</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="h-full">
    <router-outlet></router-outlet>
  </div>
</div>
