<div class="flex flex-row w-full max-w-full h-full ">
  <div class="flex flex-col h-full min-w-56 w-64 p-2 border-r border-gray-200 overflow-y-auto">
    <!-- Campaign title + description + campaign config menu -->
    <div class="mb-4">
      <div class="flex flex-row items-center">
        <h1 class="line-clamp-2" [title]="campaignTitle">{{ campaignTitle }}</h1>
      </div>
      <p
        class="{{hiddenDescription?'cursor-pointer':'cursor-pointer line-clamp-2 hover:underline'}} text-sm text-gray-400"
        (click)="hiddenDescription = !hiddenDescription"
      >
        {{ campaignDescription }}
      </p>
    </div>
    <!-- Campaign menus -->
    <div class="flex flex-col gap-2">
      <!-- Notes -->
      <app-page-nav/>

      <app-map-nav/>
<!--      <app-item-nav/>-->
<!--      <app-creatures-nav/>-->
    </div>
  </div>

  <div *ngIf="selectedNote" class="h-full w-full">
    <app-note-editor [note]="selectedNote" [page]="selectedPage" [campaignId]="selectedCampaign"></app-note-editor>
  </div>
  <div *ngIf="selectedMap" class="h-full w-full">
    <app-map-canvas [mapCanvas]="selectedMap" [mapPage]="selectedMapPage" [campaignId]="selectedCampaign"></app-map-canvas>
  </div>
</div>
