<div class="flex flex-col max-h-full h-full overflow-y-auto">
  <!-- Campaign Header -->
  <div class="flex flex-col">
    <p class="text-gray-600 dark:text-gray-300 m-2 font-semibold">{{ page?.pageTitle }} / {{ note?.noteTitle }}</p>
  </div>
  <!-- Toolbar -->
  <div class="flex flex-row flex-wrap space-2 border-b border-[#E1E1E2]">
    <!-- History -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <button
        title="Undo"
        class="rounded-md flex items-center p-1 cursor-pointer active:bg-[#a9c6e8] active:text-[#A6CDC6]"
        (click)="editor.chain().focus().undo().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/undo.svg" svgAriaLabel="Undo button"></svg-icon>
      </button>
      <button
        title="Redo"
        class="rounded-md flex items-center p-1 cursor-pointer active:bg-[#a9c6e8] active:text-[#A6CDC6]"
        (click)="editor.chain().focus().redo().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/redo.svg" svgAriaLabel="Redo button"></svg-icon>
      </button>
      <button
        title="Clear Format"
        class="rounded-md flex items-center p-1 cursor-pointer active:bg-[#a9c6e8] active:text-[#A6CDC6]"
        (click)="editor.chain().focus().clearNodes().unsetAllMarks().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_clear.svg" svgAriaLabel="Clear Format"></svg-icon>
      </button>
    </div>

    <!-- Heading styles -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <select
        class="border border-[#E1E1E2] rounded-sm dark:text-black dark:bg-white"
        (change)="onHeadingChange($event)"
        [value]="
          editor.isActive('heading', { level: 1 })
            ? 'heading1'
            : editor.isActive('heading', { level: 2 })
            ? 'heading2'
            : editor.isActive('heading', { level: 3 })
            ? 'heading3'
            : 'paragraph'
        "
      >
        <option value="heading1">
          Heading 1
        </option>
        <option value="heading2">
          Heading 2
        </option>
        <option value="heading3">
          Heading 3
        </option>
        <option value="paragraph">
          Paragraph
        </option>
      </select>
    </div>

    <!-- Font family -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <select
        class="border border-[#E1E1E2] rounded-sm dark:text-black dark:bg-white"
        (change)="fontFamilyChanges($event)"
        [value]="editor.getAttributes('textStyle')['fontFamily'] || 'Arial'"
      >
        <option value="Arial" class="font-inter">Arial</option>
        <option value="cursive" class="font-cursive">Cursive</option>
        <option value="serif" class="font-serif">Ibarra Real</option>
      </select>
    </div>

    <!-- Font size -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <div
        class="flex flex-row items-center border border-[#e1e1e2] rounded-sm dark:text-black dark:bg-white"
      >
        <button
          title="Decrease Font Size"
          class="rounded-md flex items-center p-1 cursor-pointer"
          (click)="
            editor
              .chain()
              .focus()
              .setFontSize(
                parseInt(fontSizeInput.value.replace('pt', '')) - 2 + 'pt'
              )
              .run()
          "
        >
          <svg-icon svgClass="fill-current" src="icons/remove.svg" svgAriaLabel="Decrease Font Size"></svg-icon>
        </button>
        <input
          type="text"
          class="w-12 mx-2 text-center"
          [value]="editor.getAttributes('textStyle')['fontSize'] || '12pt'"
          (change)="
            editor
              .chain()
              .focus()
              .setFontSize(fontSizeInput.value + 'pt')
              .run()
          "
          #fontSizeInput
        />
        <button
          title="Increase Font Size"
          class="rounded-md flex items-center p-1 cursor-pointer"
          (click)="
            editor
              .chain()
              .focus()
              .setFontSize(
                parseInt(fontSizeInput.value.replace('pt', '')) + 2 + 'pt'
              )
              .run()
          "
        >
          <svg-icon svgClass="fill-current" src="icons/add.svg" svgAriaLabel="Increase Font Size"></svg-icon>
        </button>
      </div>
    </div>

    <!-- Text formatting -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <button
        title="Bold"
        class="{{
          editor.isActive('bold') ? 'shadow-inner bg-[#a9c6e8] text-white' : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleBold().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_bold.svg" svgAriaLabel="Bold"></svg-icon>
      </button>
      <button
        title="Italic"
        class="{{
          editor.isActive('italic')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleItalic().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_italic.svg" svgAriaLabel="Italic"></svg-icon>
      </button>

      <button
        title="Underline"
        class="{{
          editor.isActive('underline')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleUnderline().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_underlined.svg" svgAriaLabel="Underline"></svg-icon>
      </button>
      <button
        title="Strike-through"
        class="{{
          editor.isActive('strike')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleStrike().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/strikethrough_s.svg" svgAriaLabel="Strike-through"></svg-icon>
      </button>
      <button
        title="Superscript"
        class="{{
          editor.isActive('superscript')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleSuperscript().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/superscript.svg" svgAriaLabel="Superscript"></svg-icon>
      </button>
      <button
        title="Subscript"
        class="{{
          editor.isActive('subscript')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleSubscript().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/subscript.svg" svgAriaLabel="Subscript"></svg-icon>
      </button>
      <button
        title="Highlight"
        class="{{
          editor.isActive('highlight')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="editor.chain().focus().toggleHighlight().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/highlight.svg" svgAriaLabel="Highlight"></svg-icon>
      </button>
      <div class="flex flex-row px-2 items-center">
        <div
          class="rounded-full w-6 h-6 border border-[#A6CDC6] hover:cursor-pointer hover:shadow-lg hover:border-black transition-all transition-200"
          [style.background-color]="
            editor.getAttributes('textStyle')['color'] || '#000000'
          "
          (click)="colorPicker.click()"
        ></div>
        <input
          #colorPicker
          class="hidden"
          type="color"
          (change)="onTextColorChange($event)"
          (input)="onTextColorChange($event)"
          [value]="editor.getAttributes('textStyle')['color'] || '#000000'"
        />
      </div>
    </div>

    <!-- Insertions -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2">
      <button
        title="Link"
        class="{{
          editor.isActive('link') ? 'shadow-inner bg-[#a9c6e8] text-white' : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="toggleLink()"
      >
        <svg-icon svgClass="fill-current" src="icons/link.svg" svgAriaLabel="Link"></svg-icon>
      </button>
      <button
        title="Image"
        class="{{
          editor.isActive('image') ? 'shadow-inner bg-[#a9c6e8] text-white' : ''
        }} rounded-md flex items-center p-1 cursor-pointer"
        (click)="addImage()"
      >
        <svg-icon svgClass="fill-current" src="icons/image.svg" svgAriaLabel="Image"></svg-icon>
      </button>
    </div>

    <!-- List styles -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2 gap-2">
      <button
        title="Bullet List"
        class="{{
          editor.isActive('bulletList')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().toggleBulletList().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_list_bulleted.svg" svgAriaLabel="Bullet List"></svg-icon>
      </button>
      <button
        title="Ordered List"
        class="{{
          editor.isActive('orderedList')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().toggleOrderedList().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_list_numbered.svg" svgAriaLabel="Ordered List"></svg-icon>
      </button>
      <button
        title="Task List"
        class="{{
          editor.isActive('taskList')
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }} rounded-md cursor-pointer flex items-center p-1 "
        (click)="editor.chain().focus().toggleTaskList().run()"
      >
        <svg-icon svgClass="fill-current" src="icons/task_list.svg" svgAriaLabel="Task List"></svg-icon>
      </button>
    </div>

    <!-- Text alignment -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2 gap-2">
      <button
        title="Align Left"
        class="{{
          editor.isActive({ textAlign: 'left' })
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }}  rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().setTextAlign('left').run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_align_left.svg" svgAriaLabel="Align Left"></svg-icon>
      </button>
      <button
        title="Align Center"
        class="{{
          editor.isActive({ textAlign: 'center' })
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }}  rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().setTextAlign('center').run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_align_center.svg" svgAriaLabel="Align Center"></svg-icon>
      </button>
      <button
        title="Align Right"
        class="{{
          editor.isActive({ textAlign: 'right' })
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }}  rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().setTextAlign('right').run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_align_right.svg" svgAriaLabel="Align Right"></svg-icon>
      </button>
      <button
        title="Justify"
        class="{{
          editor.isActive({ textAlign: 'justify' })
            ? 'shadow-inner bg-[#a9c6e8] text-white'
            : ''
        }}  rounded-md cursor-pointer flex items-center p-1"
        (click)="editor.chain().focus().setTextAlign('justify').run()"
      >
        <svg-icon svgClass="fill-current" src="icons/format_align_justify.svg" svgAriaLabel="Justify"></svg-icon>
      </button>
    </div>

    <!-- Save -->
    <div class="flex flex-row border-r border-[#E1E1E2] px-2 my-2 gap-2">
      <button
        title="Save"
        class="rounded-md flex items-center p-1 active:bg-[#a9c6e8] active:text-white"
        (click)="saveFile()"
      >
        <svg-icon svgClass="fill-current" src="icons/save.svg" svgAriaLabel="Save"></svg-icon>
      </button>
    </div>
  </div>
  <!--  Editor-->
  <div class="flex max-h-full h-full overflow-auto">
    <tiptap-editor
      [editor]="editor"
      [(ngModel)]="content"
      class="max-h-full h-full w-full p-4"
    ></tiptap-editor>
  </div>
</div>
