@import "tailwindcss";

@font-face {
  font-family: "Inter", serif;
  //noinspection CssUnknownProperty
  font-optical-sizing: auto;
  font-weight: 200 700;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap");
}

@theme {
  --font-cursive: "Cursive", cursive;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-serif: "Ibarra Real Nova", serif;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;

}

html {
  height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 100%;
}

.ProseMirror-focused {
  outline: none;
}

/*
* This filter changes the svg color to the gray-400 tailwindcss color
*/
.image-gray-400 {
  filter: invert(73%) sepia(7%) saturate(566%) hue-rotate(180deg) brightness(88%) contrast(88%);
}

/*
* This hover changes the svg color first to black then to #3d2c12
*/
.image-gray-400:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(1145%) hue-rotate(357deg) brightness(92%) contrast(89%);
}

/*
* TODO: Change the name of this filter to image-brown on the project. The color is #6c4416
*/
.image-black {
  filter: brightness(0) saturate(100%) invert(24%) sepia(79%) saturate(484%) hue-rotate(352deg) brightness(96%) contrast(90%) ;
}

image-red-500 {

}

.image-red-500:hover {
  filter: invert(37%) sepia(71%) saturate(6391%) hue-rotate(341deg) brightness(102%) contrast(104%);

}

.ProseMirror ul {
  padding-left: 1rem;
  list-style: initial !important;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none !important;
  padding: 0;

  li {
    align-items: flex-start;
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  ul[data-type="taskList"] {
    margin: 0.5rem;
  }
}

.ProseMirror ol {
  padding-left: 1rem;
  list-style: decimal !important;
}

.ProseMirror .ProseMirror-gapcursor {
  bottom: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}
